DATABASE_URL=postgres://postgres:postgres@localhost:5432/msmis
BETTER_AUTH_SECRET=replace-with-at-least-32-random-characters
BETTER_AUTH_URL=http://localhost:3000
DATABASE_SSL=false
SUPER_ADMIN_SETUP_TOKEN=efdljkshfskjnslkjfirewhrfiwhurkjfh122kjrnwkfsfsdjfdf
SUPER_ADMIN_RECOVERY_TOKEN=replace-with-random-recovery-token
