DATABASE_URL=postgres://postgres:postgres@localhost:5432/msmis
SESSION_SECRET=replace-with-at-least-32-random-characters
DATABASE_SSL=false
SUPER_ADMIN_SETUP_TOKEN=efdljkshfskjnslkjfirewhrfiwhurkjfh122kjrnwkfsfsdjfdf
SUPER_ADMIN_RECOVERY_TOKEN=replace-with-random-recovery-token
